
/* body + wrapper */

body{
    overflow:auto;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    height: 100%; 
    min-height:100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper{
    background-color: white;
    border-top: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-radius: 10px;
  }

  /* titles */

  .welcome{
    font-size:4em;
    text-align: center;
    margin-top:40px;
    margin-bottom:60px;
    color: rgb(83, 83, 83);
  }
  .list_title{
    text-align:left;
    width:60%;
    margin: 0 auto;
  }
  .list_name{
    max-width: 90%;
    border:none;
    display:inline-block;
    text-align:center;
    font-size:2.5em;
    margin-top: 70px;
    margin-bottom:40px;
    padding-right: 30px;
    text-decoration: none;
    color: rgb(83, 83, 83);
    background-image:url(pen.png);
    background-repeat:no-repeat;
    background-position:right;
    background-position-y: 19px;
    cursor: pointer;
    margin-right:3%;
  }
  .list_name_selected{
    max-width: 90%;
    border:none;
    display:inline-block;
    text-align:center;
    font-size:2.5em;
    margin-top: 70px;
    margin-bottom:40px;
    padding-right: 30px;
    text-decoration: none;
    color: rgb(83, 83, 83);
    margin-right:3%;
  }
 
  .edit{
    color:rgb(83, 83, 83);
    background-color: rgb(196, 196, 196);
    border:none;
    border-radius: 5px;
    height:auto;
    width:auto;
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;
    padding-top:9px;
    padding-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
    vertical-align: text-bottom;
    
  }
 
  /* footer */
  
  footer{
    border-top: solid 1px #ddd;
    color: rgb(83, 83, 83);
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 80px auto 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  footer h2{
    font-size:2em;
  }

  /* form */

  .container
  {
    max-width:600px;
    margin:0 auto;
  }
 input[type=text]{
    color:rgb(83, 83, 83);
    width: 95%;
    padding: 8px 14px 8px 14px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color:rgb(231, 231, 231);
    outline: none;
  }

  input[type=text]:focus{
    border: 2px solid grey;
  }
  button[type=submit]{
    background-color: rgb(231, 231, 231);
    border: none;
    color: white;
    height:25px;
    width:25px;
    text-decoration: none;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:-35px;
    background-image:url(plus.png);
    background-repeat:no-repeat;
    background-position:6px 4px;
    cursor: pointer;
  }

 .iteminlist{
   display:inline-block;
   margin:0 auto;
   width:80%;
  } 
  .mark {
    width:70%;
    max-width:70%;
    margin-top:30px;
    display: block;
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    font-size: 20px;
  }

  .mark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(231, 231, 231);
  }
  .mark:hover input ~ .checkmark {
    background-color: rgb(187, 187, 187);
  }
  .mark input:checked ~ .checkmark {
    background-color: #000000;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .mark input:checked ~ .checkmark:after {
    display: block;
  }
  .mark .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .trashcan{
    display:inline-block;
    width:5%;
    
  }
  .trashcan img{
    vertical-align: middle;
    margin-bottom:3px;
    
  }
  .delete{
   padding:10px; 
   
  }
  .delete:hover{
   cursor: pointer;
  } 
  
 /* new list button */

 .submit_list{
   background-color: rgb(230, 191, 18);
   border:none;
   border-radius: 5px;
   height:auto;
   width:auto;
   text-decoration: none;
   padding-left:10px;
   padding-right:10px;
   padding-top:9px;
   padding-bottom:5px;
   cursor: pointer;
   font-weight: bold;
 }  

 /* media queries */

 @media only screen and (max-width: 750px) {
  input[type="text"]{
    margin-left:2%;
  }
  .mark{
    margin-left:3%;
  }
  .submit_list{
    margin-left: 2%;;
  }
  .list_name{
    margin-left: 2%;
  }
  .edit{
    margin-left:2%;
  }
  .nothing{
    margin-left:2%;
  }
 }
 @media only screen and (max-width: 600px) {
  .list_name{
    font-size: 2em;
    background-position-y: 12px;
  }
  .list_name_selected{
    font-size:2em;
  }
  .edit{
    font-size:12px;
    padding-top:5px;
    padding-right:10px;
    padding-left:10px;
  }
  .submit_list{
    font-size:12px;
    padding-top:5px;
    padding-right:10px;
    padding-left:10px;
  }  
  .welcome{
    font-size:3.5em;
  }
  footer p{
    font-size:14px;
  }
  footer h2{
    font-size:1.5em;
  }
  input[type=text]{
    padding: 4px 7px 4px 7px;
    background-position: 1px 1px;
  }
  button[type=submit]{
    height:20px;
    width:20px;
    padding-top:6px;
    padding-bottom:6px;
    background-image:url(plus.png);
    background-position:6px 2px;
  }
  .mark{
    font-size:16px;
  }
  .checkmark{
    height:20px;
    width:20px;
  }
  .mark .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .list_name{
    font-size: 1.5em;
    background-image:url(pen2.png);
    background-position-y: 11px;
    padding-right: 20px;
  }
  .list_name_selected{
    font-size:1.5em;
  }
  .welcome{
    font-size:3em;
  }
  footer p{
    font-size:12px;
  }
  footer h2{
    font-size:1em;
  }
  .edit{
    font-size:10px;
    padding-top:4px;
    padding-right:9px;
    padding-left:9px;
    padding-bottom:2px;
  }
  .submit_list{
    font-size:10px;
    padding-top:4px;
    padding-right:12px;
    padding-left:12px;
    padding-bottom:2px;
  }  
  .mark{
    font-size:15px;
  }
  .checkmark{
    height:17px;
    width:17px;
  }
  .mark .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
  }
}

@media only screen and (max-width: 330px) {
  .mark{
    font-size:12px;
  }
  .checkmark{
    height:13px;
    width:13px;
  }
  .mark .checkmark:after {
    left: 3px;
    bottom:3px;
    width: 5px;
    height: 8px;
  }
  .delete img{
    width:80%;
    margin-bottom:0;
  }
}